/* Box Sizing Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
p,
blockquote {
  margin: 0;
  padding: 0;
}

/* Set a basic background and text color */
body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove link underlines */
a {
  text-decoration: none;
}

/* Set images to be responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  font-size: 13px;
}

.visibly-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  line-height: 1.7;
}

h1 {
  font-size: 1.728rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.03125rem;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.38rem;
    letter-spacing: 0.04rem;
    line-height: 1.3;
  }
}

h2 {
  font-size: 1.728rem;
  font-weight: 600;
}

h1,
h2 {
  line-height: 1.6;
}

p {
  max-width: 65ch;
}

.testimonial-card {
  background-color: hsl(0, 0%, 100%);
  color: hsl(219, 29%, 14%);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.testimonial-card:hover, .testimonial-card:focus-visible {
  transform: scale(1.05);
  box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
}
.testimonial-card .testimonial-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img name" "img verified";
  gap: 0 1rem;
  align-items: center;
  justify-items: left;
}
.testimonial-card .testimonial-header img {
  max-width: 3rem;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
  grid-area: img;
}
.testimonial-card .testimonial-header h2 {
  grid-area: name;
  font-size: 1rem;
}
.testimonial-card .testimonial-header p {
  grid-area: verified;
  font-size: 0.88rem;
  opacity: 0.5;
}
.testimonial-card blockquote {
  margin-block-start: 1rem;
}
.testimonial-card blockquote :first-child {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
}
.testimonial-card blockquote :nth-child(2) {
  margin-block-start: 1rem;
  opacity: 0.7;
  font-size: 0.88rem;
}

.daniel {
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.daniel:hover, .daniel:focus-visible {
  transform: scale(1.05);
  box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
}
.daniel .testimonial-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img name" "img verified";
  gap: 0 1rem;
  align-items: center;
  justify-items: left;
}
.daniel .testimonial-header img {
  max-width: 3rem;
  border-radius: 50%;
  border: 2px solid hsl(265, 71%, 70%);
  grid-area: img;
}
.daniel .testimonial-header h2 {
  grid-area: name;
  font-size: 1rem;
}
.daniel .testimonial-header p {
  grid-area: verified;
  font-size: 0.88rem;
  opacity: 0.5;
}
.daniel blockquote {
  margin-block-start: 1rem;
}
.daniel blockquote :first-child {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
}
.daniel blockquote :nth-child(2) {
  margin-block-start: 1rem;
  opacity: 0.7;
  font-size: 0.88rem;
}

.jonathan {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.jonathan:hover, .jonathan:focus-visible {
  transform: scale(1.05);
  box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
}
.jonathan .testimonial-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img name" "img verified";
  gap: 0 1rem;
  align-items: center;
  justify-items: left;
}
.jonathan .testimonial-header img {
  max-width: 3rem;
  border-radius: 50%;
  border: 2px solid hsl(217, 19%, 35%);
  grid-area: img;
}
.jonathan .testimonial-header h2 {
  grid-area: name;
  font-size: 1rem;
}
.jonathan .testimonial-header p {
  grid-area: verified;
  font-size: 0.88rem;
  opacity: 0.5;
}
.jonathan blockquote {
  margin-block-start: 1rem;
}
.jonathan blockquote :first-child {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
}
.jonathan blockquote :nth-child(2) {
  margin-block-start: 1rem;
  opacity: 0.7;
  font-size: 0.88rem;
}

.jeanette {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.jeanette:hover, .jeanette:focus-visible {
  transform: scale(1.05);
  box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
}
.jeanette .testimonial-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img name" "img verified";
  gap: 0 1rem;
  align-items: center;
  justify-items: left;
}
.jeanette .testimonial-header img {
  max-width: 3rem;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
  grid-area: img;
}
.jeanette .testimonial-header h2 {
  grid-area: name;
  font-size: 1rem;
}
.jeanette .testimonial-header p {
  grid-area: verified;
  font-size: 0.88rem;
  opacity: 0.5;
}
.jeanette blockquote {
  margin-block-start: 1rem;
}
.jeanette blockquote :first-child {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
}
.jeanette blockquote :nth-child(2) {
  margin-block-start: 1rem;
  opacity: 0.7;
  font-size: 0.88rem;
}

.patrick {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.patrick:hover, .patrick:focus-visible {
  transform: scale(1.05);
  box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
}
.patrick .testimonial-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img name" "img verified";
  gap: 0 1rem;
  align-items: center;
  justify-items: left;
}
.patrick .testimonial-header img {
  max-width: 3rem;
  border-radius: 50%;
  border: 2px solid hsl(219, 29%, 14%);
  grid-area: img;
}
.patrick .testimonial-header h2 {
  grid-area: name;
  font-size: 1rem;
}
.patrick .testimonial-header p {
  grid-area: verified;
  font-size: 0.88rem;
  opacity: 0.5;
}
.patrick blockquote {
  margin-block-start: 1rem;
}
.patrick blockquote :first-child {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
}
.patrick blockquote :nth-child(2) {
  margin-block-start: 1rem;
  opacity: 0.7;
  font-size: 0.88rem;
}

.kira {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.kira:hover, .kira:focus-visible {
  transform: scale(1.05);
  box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 3px 10px 3px rgba(0, 0, 0, 0.35);
}
.kira .testimonial-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img name" "img verified";
  gap: 0 1rem;
  align-items: center;
  justify-items: left;
}
.kira .testimonial-header img {
  max-width: 3rem;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
  grid-area: img;
}
.kira .testimonial-header h2 {
  grid-area: name;
  font-size: 1rem;
}
.kira .testimonial-header p {
  grid-area: verified;
  font-size: 0.88rem;
  opacity: 0.5;
}
.kira blockquote {
  margin-block-start: 1rem;
}
.kira blockquote :first-child {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.3;
}
.kira blockquote :nth-child(2) {
  margin-block-start: 1rem;
  opacity: 0.7;
  font-size: 0.88rem;
}

body {
  background-color: hsl(210, 46%, 95%);
  min-height: 100vh;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  width: 85%;
  padding: 5rem 0;
  padding-block-end: 1rem;
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: hsl(219, 29%, 14%);
  margin-block-end: 1rem;
}

a {
  color: hsl(263, 55%, 52%);
  font-weight: 600;
  margin-inline-start: 0.5ch;
  transition: color 0.2s ease-in-out;
}
a:hover, a:focus-visible {
  color: hsl(219, 29%, 14%);
}/*# sourceMappingURL=main.css.map */