@import "base/reset";
@import "utils/variables";
@import "utils/utilities";
@import "base/typography";
@import "components/card";

body {
  background-color: $color-neutral-blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto;
  width: 85%;
  padding: 5rem 0;
  padding-block-end: 1rem;

  @media screen and (width > 768px) {
    display: grid;
    width: 90%;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "daniel daniel jonathan"
      "jeanette patrick patrick"
      "kira kira kira";
  }

  @media screen and (width > 1024px) {
    display: grid;
    width: 90%;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  }
}

.attribution {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $color-dark-blue;
  margin-block: 2rem;
}

a {
  color: $color-violet;
  font-weight: $font-weight-bold;
  margin-inline-start: 0.5ch;
  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    color: $color-dark-blue;
  }
}
